@model TeamsConcreteViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["TeamsByLeague"] + ": " + +@ViewBag.CurrentLeagueName;
}

<h3 class="text-center">@Localizer["TeamsByLeague"]: @ViewBag.CurrentLeagueName</h3>
<div class="table-responsive-md">
    <table class="table table-sm table-striped table-hover table-bordered">
        <thead class="table-dark align-middle text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.NameSort">@Localizer["Team"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.FixedNameSort">@Localizer["FixedName"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.ClubSort">@Localizer["Club"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.LeagueSort">@Localizer["League"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.HalfDecadeSort">@Localizer["HalfDecade"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.SeasonSort">@Localizer["Season"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.GiggiSort">@Localizer["Giggiriva"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.JbouSort">@Localizer["Jbou41"]</a></th>
                <th scope="col"><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.ValSort">@Localizer["Valambrosio"]</a></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.Teams)
            {
                <tr>
                    <td>@team.Id</td>
                    <td>@team.TeamName</td>
                    <td>@team.FixedTeamName</td>
                    <td>@team.Club</td>
                    <td>@team.LeagueTeam</td>
                    <td>@team.HalfDecade</td>
                    <td>@team.Season</td>
                    <td>@team.Giggi</td>
                    <td>@team.Jbou</td>
                    <td>@team.Val</td>
                    <td><a href="~/Team/View/@team.Id">@Localizer["Look"]</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_PaginationPartial", new ViewDataDictionary(new EmptyModelMetadataProvider(), new ModelStateDictionary()) { { "CurrentAction", ViewContext.RouteData.Values["action"] } })