@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Changelog"];
}

<h3>@Localizer["Changelog"]:</h3>
<h6>@Localizer["August"] 2022</h6>
<ul>
    <li>25 - @Localizer["Change250822"];</li>
</ul>
<h6>@Localizer["November"] 2022</h6>
<ul>
    <li>10 - @Localizer["Change101122"];</li>
</ul>
<h6>@Localizer["December"] 2022</h6>
<ul>
    <li>13 - @Localizer["Change131222"];</li>
</ul>
<h6>@Localizer["March"] 2023</h6>
<ul>
    <li>06 - @Localizer["Change060323"];</li>
    <li>27 - @Localizer["Change270323"].</li>
</ul>
<h6>@Localizer["September"] 2023</h6>
<ul>
    <li>15 - @Localizer["Change150923"].</li>
</ul>
<p></p>
<h3>@Localizer["FuturePlans"]:</h3>
<ul>
    <li>@Localizer["FP1"];</li>
    <li>@Localizer["FP2"];</li>
    <li>@Localizer["FP3"];</li>
    <li>@Localizer["FP4"];</li>
    <li>@Localizer["FP5"].</li>
</ul>