@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Changelog"];
}

<h3 class="text-center">@Localizer["ChangelogTitle"]</h3>
<div class="my-4">
    <h5>@Localizer["Changelog"]:</h5>
    <h6>@Localizer["August"] 2022</h6>
    <ul class="list-unstyled">
        <li>25 - @Localizer["Change2022-08-05"];</li>
    </ul>
    <h6>@Localizer["November"] 2022</h6>
    <ul class="list-unstyled">
        <li>10 - @Localizer["Change2022-11-10"];</li>
    </ul>
    <h6>@Localizer["December"] 2022</h6>
    <ul class="list-unstyled">
        <li>13 - @Localizer["Change2022-12-13"];</li>
    </ul>
    <h6>@Localizer["March"] 2023</h6>
    <ul class="list-unstyled">
        <li>06 - @Localizer["Change2023-03-06"];</li>
        <li>27 - @Localizer["Change2023-03-27"].</li>
    </ul>
    <h6>@Localizer["September"] 2023</h6>
    <ul class="list-unstyled">
        <li>15 - @Localizer["Change2023-09-15"];</li>
        <li>21 - @Localizer["Change2023-09-21"].</li>
    </ul>
</div>
<div class="my-4">
    <h5>@Localizer["FuturePlans"]:</h5>
    <ul>
        <li>@Localizer["FP1"];</li>
        <li>@Localizer["FP2"];</li>
        <li>@Localizer["FP3"];</li>
        <li>@Localizer["FP4"];</li>
        <li>@Localizer["FP5"].</li>
    </ul>
</div>