@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Contacts&Links"];
}

<style>
    .flag {
        height:16px;
        width:16px;
    }
</style>

<h3 class="text-center">@Localizer["Contacts&Links"]</h3>
<div class="my-4">
    <h6>@Localizer["ThisSite"]</h6>
    <div>
        <a href="https://github.com/serhiy1994/CPDatabase">@Localizer["Source"]</a><br />
        <b>@Localizer["Owner"]</b>: <img src="~/images/ua.png" class="flag"/> Serhiy Mashkovskyi <a href="https://www.facebook.com/serhiy1994">Facebook</a>, <a href="https://t.me/serhiy1994">Telegram</a><br/>
        <b>@Localizer["LogoSiteCreator"]</b>: Serhiy Mashkovskyi, @Localizer["BasedOn"].
    </div>
</div>
<div class="my-4">
    <h6>@Localizer["MainPatch"]</h6>
    <div>
        <a href="https://fifaclassicpatch.altervista.org/">@Localizer["OfficialSite"]</a><br />
        <a href="https://www.facebook.com/classicpatchHoF">@Localizer["OfficialFacebook"]</a><br />
        <a href="http://soccergaming.com/index.php?threads/download-classic-patch-14.177945/">@Localizer["Soccergaming"]</a><br />
        <b>@Localizer["Creators"]</b>: <img src="~/images/it.png" class="flag" /> Luigi Riva, <img src="~/images/it.png" class="flag" /> Andrea Tomasoni, <img src="~/images/it.png" class="flag" /> Andrea Cicognani. <i>@Localizer["Permissions"].</i><br/>
        <b>@Localizer["LogoPatchCreator"]</b>: Andrea Cicognani.
    </div>
</div>
<div class="my-4">
    <h6>@Localizer["JbouAddon"]</h6>
    <div>
        <a href="http://soccergaming.com/index.php?threads/unofficial-2010s-add-on-for-cp14.6469154/">@Localizer["Soccergaming"]</a><br />
        <a href="http://soccergaming.com/index.php?threads/2006-unqualified-teams-for-classic-patch-14.6470717/">@Localizer["SoccergamingWC06"]</a> @Localizer["Deprecated"]<br />
        <b>@Localizer["Creator"]</b>: <img src="~/images/fr.png" class="flag" /> Jbou41. <i>@Localizer["Permissions"].</i>
    </div>
</div>
<div class="my-4">
    <h6>@Localizer["ValambrosioAddon"]VALAMBROSIO'S ADDON</h6>
    <div>
        <a href="http://soccergaming.com/index.php?threads/classic-patch-post-10s-expansion-v1-and-update-released.6469222/">@Localizer["Soccergaming"]</a><br />
        <b>@Localizer["Creator"]</b>: <img src="~/images/be.png" class="flag" /> Valambrosio. <i>@Localizer["Permissions"].</i>
    </div>
</div>