<!--model IEnumerable<CPDatabase.Models.FeedbackLog>-->
@model FeedbackViewModel
@{
    ViewData["Title"] = "Reports & feedbacks";
}
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h3>Reports & feedbacks</h3>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<form method="post" action="~/Home/MakeFeedback">
    <input type="hidden" value="@DateTime.Now" name="DateMessage" />
    <label>Name:</label><br />
    <input type="text" name="Username" /><br />
    <label>Email:</label><br />
    <input type="text" name="Email" /><br />
    <label>Message:</label><br />
    <input type="text" name="Message" /><br />
    <input type="submit" value="Send" />
</form>
<table class="table">
    <tr>
        <td>Id</td>
        <td><a asp-action="Feedback" asp-route-sortOrder="@Model.SortViewModel.MessageDateSort">Message date</a></td>
        <td><a asp-action="Feedback" asp-route-sortOrder="@Model.SortViewModel.UsernameSort">User name</a></td>
        <td><a asp-action="Feedback" asp-route-sortOrder="@Model.SortViewModel.EmailSort">Email</a></td>
        <td><a asp-action="Feedback" asp-route-sortOrder="@Model.SortViewModel.MessageSort">Message</a></td>
        <td><a asp-action="Feedback" asp-route-sortOrder="@Model.SortViewModel.ReplySort">Reply</a></td>
        <td><a asp-action="Feedback" asp-route-sortOrder="@Model.SortViewModel.ReplyDateSort">Reply date</a></td>
    </tr>
    @foreach (var feedback in Model.Feedbacks)
    {
        <tr>
            <td>@feedback.MessageId</td>
            <td>@feedback.DateMessage</td>
            <td>@feedback.Username</td>
            <td>@feedback.Email</td>
            <td>@feedback.Message</td>
            <td>@feedback.Reply</td>
            <td>@feedback.DateReply</td>
            <td>
                @if (User.Identity.Name != null && feedback.Reply == null)
                {
                    <a href="~/Home/Reply/@feedback.MessageId" class="feedbackItem">Write a reply</a>
                }
                else if (User.Identity.Name == null && feedback.Reply == null)
                {
                    @:<i>Login to reply</i>
                }
            </td>
        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Feedback" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 1).ToString())</a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Feedback" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 1).ToString())</a>
}
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".feedbackItem").click(function (e) {
            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>