@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Home"];
}

<h3>@Localizer["HelloWorld"]</h3>
<p>@Localizer["Message1"]</p>
<p>@Localizer["Message2"]</p>
<p>@Localizer["Message3"]</p>
<p>@Localizer["Message4"]</p>
<p>@Localizer["Message5"]</p>
<p>@Localizer["Message6"]</p>
<p>@Localizer["Message7part1"] <a href="~/Home/Contacts">@Localizer["Link1"]</a> @Localizer["Message7part2"]</p>
<p>@Localizer["Message8"]</p>