@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Home"];
}

<h3 class="text-center">@Localizer["HelloWorld"]</h3>
<p style="text-align:right"><small class="text-muted"><i>@Localizer["ActualInfo"] @Localizer["LastUpdateDate"].</i></small></p>
<p>@Localizer["Message1"]!</p>
<p>@Localizer["Message2"].</p>
<p>@Localizer["Message3"].</p>
<p>@Localizer["Message4"].</p>
<p>@Localizer["Message5"].</p>
<p>@Localizer["Message6"].</p>
<p>@Localizer["Message7part1"] <a href="~/Home/Contacts">@Localizer["Link1"]</a> @Localizer["Message7part2"].</p>
<p>@Localizer["Message8"]!</p>