@model CPDatabase.Models.FeedbackLog

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Write a reply</h4>
    </div>
    <div class="modal-body">
        <form method="post" action="~/Home/Reply">
            <input type="hidden" value="@Model.MessageId" name="MessageId" />
            <label>Message date:</label><br />
            @Html.DisplayFor(model => model.DateMessage)<br />
            <label>Username:</label><br />
            @Html.DisplayFor(model => model.Username)<br />
            <label>Message:</label><br />
            @Html.DisplayFor(model => model.Message)<br />
            <label>Reply:</label><br />
            <input type="text" name="Reply" /><br />
            <input type="hidden" value="@DateTime.Now" name="DateReply" />
            <input type="submit" value="Send" />
        </form>
    </div>
</div>