<!--model IEnumerable<CPDatabase.Models.NationalTeam>-->
@model NTsConcreteViewModel
@{
    ViewData["Title"] = "National Teams By League: " + @ViewBag.CurrentLeagueNTName;
}

<h3>National Teams By League: @ViewBag.CurrentLeagueNTName</h3>
<table class="table">
    <tr>
        <th>Id</th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.NameSort">National team</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.CountrySort">Country</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.LeagueSort">League</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.YearSort">Year</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.PeriodSort">Period</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.NotQualSort">Not qual.</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.GiggiSort">Giggiriva</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.JbouSort">Jbou41</a></th>
        <th><a asp-action="View" asp-route-sortOrder="@Model.SortViewModel.ValSort">Valambrosio</a></th>
        <th></th>
    </tr>
    @foreach (var nationalTeam in Model.NTs)
    {
        <tr>
            <td>@nationalTeam.Id</td>
            <td>@nationalTeam.NTName</td>
            <td>@nationalTeam.Country</td>
            <td>@nationalTeam.LeagueNT</td>
            <td>@nationalTeam.Year</td>
            <td>@nationalTeam.Period</td>
            <td>@nationalTeam.NotQual</td>
            <td>@nationalTeam.Giggi</td>
            <td>@nationalTeam.Jbou</td>
            <td>@nationalTeam.Val</td>
            <td><a href="~/NT/View/@nationalTeam.Id">Look</a></td>
        </tr>
    }
</table>
@if (Model.PageViewModel.TooFarToFirst)
{
    <a asp-action="View" asp-route-page="1" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-secondary">1</a>
}
@if (Model.PageViewModel.HasPreviousPage3)
{
    <a asp-action="View" asp-route-page="@(Model.PageViewModel.PageNumber - 3)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 3).ToString())</a>
}
@if (Model.PageViewModel.HasPreviousPage2)
{
    <a asp-action="View" asp-route-page="@(Model.PageViewModel.PageNumber - 2)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 2).ToString())</a>
}
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="View" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 1).ToString())</a>
}
<span class="btn">@Model.PageViewModel.PageNumber.ToString()</span>
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="View" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 1).ToString())</a>
}
@if (Model.PageViewModel.HasNextPage2)
{
    <a asp-action="View" asp-route-page="@(Model.PageViewModel.PageNumber + 2)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 2).ToString())</a>
}
@if (Model.PageViewModel.HasNextPage3)
{
    <a asp-action="View" asp-route-page="@(Model.PageViewModel.PageNumber + 3)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 3).ToString())</a>
}
@if (Model.PageViewModel.TooFarToLast)
{
    <a asp-action="View" asp-route-page="@Model.PageViewModel.TotalPages" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-secondary">@Model.PageViewModel.TotalPages.ToString()</a>
}