<!--IEnumerable<CPDatabase.Models.LeagueNT>-->
@model NTsLeagueViewModel
@{
    ViewData["Title"] = "Leagues for National Teams";
}

<h3>Leagues for National Teams</h3>
<table class="table">
    <tr>
        <th>Id</th>
        <th><a asp-action="LeagueNT" asp-route-sortOrder="@Model.SortViewModel.NameSort">League (NT)</a></th>
        <th><a asp-action="LeagueNT" asp-route-sortOrder="@Model.SortViewModel.YearSort">Year</a></th>
        <th><a asp-action="LeagueNT" asp-route-sortOrder="@Model.SortViewModel.PeriodSort">Period</a></th>
        <th><a asp-action="LeagueNT" asp-route-sortOrder="@Model.SortViewModel.GiggiSort">Giggiriva</a></th>
        <th><a asp-action="LeagueNT" asp-route-sortOrder="@Model.SortViewModel.JbouSort">Jbou41</a></th>
        <th><a asp-action="LeagueNT" asp-route-sortOrder="@Model.SortViewModel.ValSort">Valambrosio</a></th>
        <td></td>
    </tr>
    @foreach (var leagueNT in Model.LeaguesNT)
    {
        <tr>
            <td>@leagueNT.Id</td>
            <td>@leagueNT.LeagueNTName</td>
            <td>@leagueNT.Year</td>
            <td>@leagueNT.Period</td>
            <td>@leagueNT.Giggi</td>
            <td>@leagueNT.Jbou</td>
            <td>@leagueNT.Val</td>
            <td><a href="~/LeagueNT/View/@leagueNT.Id">Look</a></td>
        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="LeagueNT" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 1).ToString())</a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="LeagueNT" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 1).ToString())</a>
}