@model NTsYearViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["YearsForNationalTeams"];
}

<h3 class="text-center">@Localizer["YearsForNationalTeams"]</h3>
<div class="table-responsive-md">
    <table class="table table-sm table-striped table-hover table-bordered">
        <thead class="table-dark align-middle text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col"><a asp-action="Year" asp-route-sortOrder="@Model.SortViewModel.NameSort">@Localizer["Year"]</a></th>
                <th scope="col"><a asp-action="Year" asp-route-sortOrder="@Model.SortViewModel.GiggiSort">@Localizer["Giggiriva"]</a></th>
                <th scope="col"><a asp-action="Year" asp-route-sortOrder="@Model.SortViewModel.JbouSort">@Localizer["Jbou41"]</a></th>
                <th scope="col"><a asp-action="Year" asp-route-sortOrder="@Model.SortViewModel.ValSort">@Localizer["Valambrosio"]</a></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var year in Model.Years)
            {
                <tr>
                    <td>@year.Id</td>
                    <td>@year.YearName</td>
                    <td>@year.Giggi</td>
                    <td>@year.Jbou</td>
                    <td>@year.Val</td>
                    <td><a href="~/Year/View/@year.Id">@Localizer["Look"]</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination justify-content-center">
    @if (Model.PageViewModel.TooFarToFirst)
    {
        <a asp-action="Year" asp-route-page="1" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-secondary">1</a>
    }
    @if (Model.PageViewModel.HasPreviousPage3)
    {
        <a asp-action="Year" asp-route-page="@(Model.PageViewModel.PageNumber - 3)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 3).ToString())</a>
    }
    @if (Model.PageViewModel.HasPreviousPage2)
    {
        <a asp-action="Year" asp-route-page="@(Model.PageViewModel.PageNumber - 2)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 2).ToString())</a>
    }
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Year" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 1).ToString())</a>
    }
    <span class="btn">@Model.PageViewModel.PageNumber.ToString()</span>
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Year" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 1).ToString())</a>
    }
    @if (Model.PageViewModel.HasNextPage2)
    {
        <a asp-action="Year" asp-route-page="@(Model.PageViewModel.PageNumber + 2)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 2).ToString())</a>
    }
    @if (Model.PageViewModel.HasNextPage3)
    {
        <a asp-action="Year" asp-route-page="@(Model.PageViewModel.PageNumber + 3)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 3).ToString())</a>
    }
    @if (Model.PageViewModel.TooFarToLast)
    {
        <a asp-action="Year" asp-route-page="@Model.PageViewModel.TotalPages" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-secondary">@Model.PageViewModel.TotalPages.ToString()</a>
    }
</div>