@model IEnumerable<CPDatabase.Models.Club>

<!DOCTYPE html>

<html>
<head>
    <title>Clubs - CP14DB</title>
</head>
<body>
    <h3>Clubs</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Club</td>
            <td>Country</td>
            <td>Giggiriva</td>
            <td>Jbou41</td>
            <td>Valambrosio</td>
            <td></td>
        </tr>
        @foreach (var club in Model)
        {
            <tr>
                <td>@club.Id</td>
                <td>@club.ClubName</td>
                <td>@club.Country</td>
                <td>@club.Giggi</td>
                <td>@club.Jbou</td>
                <td>@club.Val</td>
                <td><a href="#">Look</a></td>
            </tr>
        }
    </table>
</body>
</html>