<!--model IEnumerable<CPDatabase.Models.CountryClub>-->
@model TeamsCountryViewModel
@{
    ViewData["Title"] = "Countries for Clubs";
}

<h3>Countries for Clubs</h3>
<table class="table">
    <tr>
        <th>Id</th>
        <th><a asp-action="CountryClub" asp-route-sortOrder="@Model.SortViewModel.NameSort">Country</a></th>
        <th><a asp-action="CountryClub" asp-route-sortOrder="@Model.SortViewModel.HasSubSort">Has subcountry</a></th>
        <th><a asp-action="CountryClub" asp-route-sortOrder="@Model.SortViewModel.SubcountrySort">Subcountry</a></th>
        <th><a asp-action="CountryClub" asp-route-sortOrder="@Model.SortViewModel.GiggiSort">Giggiriva</a></th>
        <th><a asp-action="CountryClub" asp-route-sortOrder="@Model.SortViewModel.JbouSort">Jbou41</a></th>
        <th><a asp-action="CountryClub" asp-route-sortOrder="@Model.SortViewModel.ValSort">Valambrosio</a></th>
        <td></td>
    </tr>
    @foreach (var countryClub in Model.Countries)
    {
        <tr>
            <td>@countryClub.Id</td>
            <td>@countryClub.CountryClubName</td>
            <td>@countryClub.HasSub</td>
            <td>@countryClub.Subcountry</td>
            <td>@countryClub.Giggi</td>
            <td>@countryClub.Jbou</td>
            <td>@countryClub.Val</td>
            <td><a href="~/CountryClub/View/@countryClub.Id">Look</a></td>
        </tr>
    }
</table>
@if (Model.PageViewModel.TooFarToFirst)
{
    <a asp-action="CountryClub" asp-route-page="1" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-secondary">1</a>
}
@if (Model.PageViewModel.HasPreviousPage3)
{
    <a asp-action="CountryClub" asp-route-page="@(Model.PageViewModel.PageNumber - 3)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 3).ToString())</a>
}
@if (Model.PageViewModel.HasPreviousPage2)
{
    <a asp-action="CountryClub" asp-route-page="@(Model.PageViewModel.PageNumber - 2)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 2).ToString())</a>
}
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="CountryClub" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber - 1).ToString())</a>
}
<span class="btn">@Model.PageViewModel.PageNumber.ToString()</span>
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="CountryClub" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 1).ToString())</a>
}
@if (Model.PageViewModel.HasNextPage2)
{
    <a asp-action="CountryClub" asp-route-page="@(Model.PageViewModel.PageNumber + 2)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 2).ToString())</a>
}
@if (Model.PageViewModel.HasNextPage3)
{
    <a asp-action="CountryClub" asp-route-page="@(Model.PageViewModel.PageNumber + 3)" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-outline-dark">@((Model.PageViewModel.PageNumber + 3).ToString())</a>
}
@if (Model.PageViewModel.TooFarToLast)
{
    <a asp-action="CountryClub" asp-route-page="@Model.PageViewModel.TotalPages" asp-route-sortOrder="@Model.SortViewModel.Current" class="btn btn-secondary">@Model.PageViewModel.TotalPages.ToString()</a>
}