@model IEnumerable<CPDatabase.Models.HalfDecade>
@{
    //ViewData["Title"] = "HalfDecade";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HalfDecade</title>
</head>
<body>
    <h3>Half-decades for Clubs</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Half-decade</td>
            <td>Giggiriva</td>
            <td>Jbou41</td>
            <td>Valambrosio</td>
            <td></td>
        </tr>
        @foreach (var halfDecade in Model)
        {
            <tr>
                <td>@halfDecade.Id</td>
                <td>@halfDecade.HalfDecadeName</td>
                <td>@halfDecade.Giggi</td>
                <td>@halfDecade.Jbou</td>
                <td>@halfDecade.Val</td>
                <td><a href="#">Look</a></td>
            </tr>
        }
    </table>
</body>
</html>