@model IEnumerable<CPDatabase.Models.LeagueTeam>

<!DOCTYPE html>

<html>
<head>
    <title>Leagues for Clubs - CP14DB</title>
</head>
<body>
    <h3>Leagues for Clubs</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>LeagueTeam</td>
            <td>Half-decade</td>
            <td>Season</td>
            <td>Giggiriva</td>
            <td>Jbou41</td>
            <td>Valambrosio</td>
            <td></td>
        </tr>
        @foreach (var leagueTeam in Model)
        {
            <tr>
                <td>@leagueTeam.Id</td>
                <td>@leagueTeam.Name</td>
                <td>@leagueTeam.HalfDecade</td>
                <td>@leagueTeam.Season</td>
                <td>@leagueTeam.Giggi</td>
                <td>@leagueTeam.Jbou</td>
                <td>@leagueTeam.Val</td>
                <td><a href="#">Look</a></td>
            </tr>
        }
    </table>
</body>
</html>