@{
    //ViewData["Title"] = "View Team";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>View Team</title>
</head>
<body>
    <input type="hidden" value="@ViewBag.ViewTeamId" name="Id" />
    <h3>Team Name</h3>
    @*<table>
        <tr>
            <td>@team.Id</td>
            <td>@team.TeamName</td>
            <td>@team.FixedTeamName</td>
            <td>@team.Club</td>
            <td>@team.HalfDecade</td>
            <td>@team.Season</td>
            <td>@team.Giggi</td>
            <td>@team.Jbou</td>
            <td>@team.Val</td>
        </tr>
    </table>*@
</body>
</html>