@model CPDatabase.Models.Team
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Team"] + ": " + @Model.TeamName;
}

<h3>@Localizer["Team"]: @Model.TeamName</h3>
<table class="table">
    <tr>
        <td>Id</td>
        <td>@Localizer["TeamName"]</td>
        <td>@Localizer["FixedTeamName"]</td>
        <td>@Localizer["Club"]</td>
        <td>@Localizer["League"]</td>
        <td>@Localizer["HalfDecade"]</td>
        <td>@Localizer["HalfDecade"]</td>
        <td>@Localizer["Giggiriva"]</td>
        <td>@Localizer["Jbou41"]</td>
        <td>@Localizer["Valambrosio"]</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.TeamName</td>
        <td>@Model.FixedTeamName</td>
        <td>@Model.Club</td>
        <td>@Model.LeagueTeam</td>
        <td>@Model.HalfDecade</td>
        <td>@Model.Season</td>
        <td>@Model.Giggi</td>
        <td>@Model.Jbou</td>
        <td>@Model.Val</td>
    </tr>
</table>
@if (Model.Val == true)
{
    <img src="@String.Concat("/images/val/", Model.TeamName.Replace(" ", ""), ".png")" />
}
else if (Model.LeagueTeam == "Archive League")
{
    <img src="@String.Concat("/images/archive/", Model.TeamName.Replace(" ", ""), ".png")" />
}
else
{
    <img src="@String.Concat("/images/", Model.TeamName.Replace(" ", ""), ".png")" />
}