@model CPDatabase.Models.Team
@{
    ViewData["Title"] = "Team: " + @Model.TeamName;
}

<h3>Team: @Model.TeamName</h3>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Team Name</td>
        <td>Fixed Team Name</td>
        <td>Club</td>
        <td>League</td>
        <td>Half-decade (if exists)</td>
        <td>Season (if exists)</td>
        <td>Giggi</td>
        <td>Jbou</td>
        <td>Val</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.TeamName</td>
        <td>@Model.FixedTeamName</td>
        <td>@Model.Club</td>
        <td>@Model.LeagueTeam</td>
        <td>@Model.HalfDecade</td>
        <td>@Model.Season</td>
        <td>@Model.Giggi</td>
        <td>@Model.Jbou</td>
        <td>@Model.Val</td>
    </tr>
</table>
@if (Model.Val == true)
{
    <img src="@String.Concat("/images/val/", Model.TeamName.Replace(" ", ""), ".png")" />
}
else if (Model.LeagueTeam == "Archive League")
{
    <img src="@String.Concat("/images/archive/", Model.TeamName.Replace(" ", ""), ".png")" />
}
else
{
    <img src="@String.Concat("/images/", Model.TeamName.Replace(" ", ""), ".png")" />
}