@model CPDatabase.Models.Team
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Team"].Value + ": " + @Model.TeamName;
}

<h3 class="text-center">@Localizer["Team"]: @Model.TeamName</h3>
<div class="table-responsive-md">
    <table class="table table-sm table-bordered">
        <thead class="table-primary align-middle text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">@Localizer["TeamName"]</th>
                <!--<th scope="col">@Localizer["FixedTeamName"]</th>-->
                <th scope="col">@Localizer["Club"]</th>
                <th scope="col">@Localizer["League"]</th>
                <th scope="col">@Localizer["HalfDecade"]</th>
                <th scope="col">@Localizer["HalfDecade"]</th>
                <th scope="col">@Localizer["Giggiriva"]</th>
                <th scope="col">@Localizer["Jbou41"]</th>
                <th scope="col">@Localizer["Valambrosio"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.TeamName</td>
                <!--<td>@Model.FixedTeamName</td>-->
                <td>@Model.Club</td>
                <td>@Model.LeagueTeam</td>
                <td>@Model.HalfDecade</td>
                <td>@Model.Season</td>
                <td class="text-center">@if (Model.Giggi) { @Localizer["Yes"] } else { @Localizer["No"] }</td>
                <td class="text-center">@if (Model.Jbou) { @Localizer["Yes"] } else { @Localizer["No"] }</td>
                <td class="text-center">@if (Model.Val) { @Localizer["Yes"] } else { @Localizer["No"] }</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    @if (Model.Val == true)
    {
        <img src="@String.Concat("/images/val/", Model.TeamName.Replace(" ", ""), ".png")" class="img-fluid"/>
    }
    else if (Model.LeagueTeam == "Archive League")
    {
        <img src="@String.Concat("/images/archive/", Model.TeamName.Replace(" ", ""), ".png")" class="img-fluid"/>
    }
    else
    {
        <img src="@String.Concat("/images/", Model.TeamName.Replace(" ", ""), ".png")" class="img-fluid"/>
    }
</div>