@model CPDatabase.Models.Team
@{
    //ViewData["Title"] = "View Team";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>View Team: @Model.TeamName</title>
</head>
<body>
    <h3>@Model.TeamName</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Team Name</td>
            <td>Fixed Team Name</td>
            <td>Club</td>
            <td>Half-decade (if exists)</td>
            <td>Season (if exists)</td>
            <td>Giggi</td>
            <td>Jbou</td>
            <td>Val</td>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.TeamName</td>
            <td>@Model.FixedTeamName</td>
            <td>@Model.Club</td>
            <td>@Model.HalfDecade</td>
            <td>@Model.Season</td>
            <td>@Model.Giggi</td>
            <td>@Model.Jbou</td>
            <td>@Model.Val</td>
        </tr>
    </table>
    <img src="@String.Concat("/images/", Model.TeamName.Replace(" ",""),".png")"/>
</body>
</html>