@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Type" charset="utf-8" />
    <title>@ViewData["Title"] | CPDB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
    <script src="~/js/popper.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/cplogo1.png" alt="CPDB Home" width="32" height="32"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown">@Localizer["Teams"]</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="All">@Localizer["All"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="CountryClub">@Localizer["ByCountry"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="Club">@Localizer["ByClub"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="LeagueTeam">@Localizer["ByLeague"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="HalfDecade">@Localizer["ByHalfDecade"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="Season">@Localizer["BySeason"]</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown">@Localizer["NationalTeams"]</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="NT" asp-action="All">@Localizer["All"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NT" asp-action="CountryNT">@Localizer["ByCountry"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NT" asp-action="LeagueNT">@Localizer["ByLeagueNT"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NT" asp-action="Period">@Localizer["ByPeriod"]</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NT" asp-action="Year">@Localizer["ByYear"]</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Changelog">@Localizer["Changelog"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Feedback">@Localizer["Reports&Feedbacks"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">@Localizer["Contacts"]</a></li>
                        <li class="nav-item">
                            @if (User.Identity.Name == null)
                            {
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">@Localizer["Login"]</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">@Localizer["LogoutAs"] @User.Identity.Name</a>
                            }
                        </li>
                    </ul>
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer class="footer mt-auto py-3 fixed-bottom bg-dark text-light">
        <div class="container text-center text-muted align-middle">
            <div class="row">
                <div class="col"><a href="#" class="link-light text-decoration-none">@Localizer["DonateUs"]!</a></div>
                <div class="col"><a href="#" class="link-light text-decoration-none">@Localizer["PrivacyPolicy"]</a></div>
                <div class="col">2023 &copy; CPDB</div>
            </div>
        </div>
    </footer>
</body>
</html>